<footer class="bot">
    <div class="footer_cont">
      <div class="footer_left">
        <img src="assets/Frame.svg" alt="">
        <div class="contacts_footer">
          <div class="footer_phone">
            <img style="height: 30px; margin-bottom: 0; vertical-align: middle" src="assets/Icon.svg" alt="phone" />
            <span>Контактный телефон</span>
            <p>+ 7 (812) 309-09-34</p>
            <p>+ 7 (965) 084-29-09</p>
          </div>
          <div class="footer_mail">
            <img style="height: 30px; margin-bottom: 0; vertical-align: middle" src="assets/Icon_1.svg" alt="mail" />
            <span>Электронная почта</span>
            <p>tustin78#mail.ru</p>
            <p>info#tustin.ru</p>
          </div>
        </div>
        <div class="last_text">
          <span>Главная</span>
          <span>О компании</span>
          <span>Каталог</span>
        </div>
        <div class="footer_icons">
          <img src="assets/Mini Button.svg" alt=" facebook">
          <img src="assets/Social Icons.svg" alt="youtube">
          <img src="assets/button.svg" alt="whatsapp">
        </div>
      </div>
      <div class="footer_right">
        <h3>Остались вопросы?</h3>
        <span>Узнавайте первым о скидках, предложениях и событиях еженедельно в своем
          почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
        <input placeholder="Введите свою почту" />
        <img src="assets/sms.svg" alt="" />
        <button>Отправить</button>
        <p>© 2021-2022, EDE</p>
      </div>
    </div>
  </footer>
  <div class="indent"></div>