.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

// .login {
//     margin-bottom: 10px;
// }