.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  80px;
    color: white;
    background-color: #4B565E;
    padding: 0 200px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 20px;
}

.header-nav {
    display: flex;

}

.header-nav-item {
    margin-right: 20px;
    border: none;
    background-color: #4B565E;
    color: white;
}

.header-right {
    display: flex;
    align-items: center;

    .header-Phone {
        margin-right: 5px;
    }

    .phone-nav {
        display: flex;
        margin-right: 30px; 
        color: white;
    }
    .header-heart {
        margin-right: 30px; 
    }

    .one {
        display: flex;
        align-items: center;
        border: 1px solid #F0BA4E; 
        border-radius: 25px;
        background-color: #4B565E;
        color: white;
        padding: 10px;
        width: 126px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .nav-one {
            margin-left: 10px; display: flex; align-items: center;
          }

    } 

}

.light {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 48px;
    background-color: #F0BA4E;
    padding: 0 200px;
    font-size: 14px;
    
} 

.light-left {
    display: flex;
    align-items: center;
  
}

.light-line {
    margin-right: 10px;
}

.light-nav {
    display: flex;
}

.light-nav-apple {
    margin-right: 20px;
    border: none;
    background-color: #F0BA4E;
}

.light-right {
    display: flex;
    align-items: center;
    background-color: #F0BA4E;
}

.search{
    display: flex;
    width: 372px;
    height: 28px;
    background-color: #F0BA4E;
    border: none;
     
}

.mask{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
    background-color: #F0BA4E;
    border: none;
    
}

.map{
    display: flex;
    align-items: center;
}

.country{
    background-color: #F0BA4E;
    border: 1px solid #F0BA4E;
    color: white;
   }

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0;
}

.frame-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 18px;

}

.frame-text {
  padding-right: 10px;  
}


.content-container{
    max-width: 1320px;
    margin: 0 auto;
} 

.item-cards__pagination{
    display: flex;
    justify-content: end;
    
    &-button{
        border: none;
        background: none;
        color: #A1A0A0;
    }
}

.active-button {
    color: #F0BA4E;
    font-weight: 600;  
}

.item-cards__grid{
    display: flex;
    padding-bottom: 56px;
}

.item-cards__grid-left {
    max-height: 428px;
    max-width: 421px;
    min-width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 20px 50px 0px  #3C3C3B12;
    background-image: url(/assets/image_1.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left;
    margin-right: 30px;
}

.item-cards__grid-left-text {
    font-size: 28px;
    font-weight: 600;
    padding: 15px;
    box-sizing: border-box;
}

.item-cards__grid-action {
    padding: 15px;
    align-self: end;
    display: flex;
    align-items: center;
}

.item-cards__grid-action-link {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.item-cards__grid-block {
    width: 421px;
    height: 200px;   
    box-shadow: 0px 20px 50px 0px  #3C3C3B12;
}


.item-cards__grid-text {
    font-size: 28px;
    font-weight: 600;
    padding: 15px;
    box-sizing: border-box;
}

.text-right {
    align-self: end;
}

.action-left {
    padding: 15px;
    align-self: start;
    display: flex;
    align-items: center;
}

.a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 20px 50px 0px  #3C3C3B12;
    background-image: url(/assets/image_2.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left;
}

.b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 20px 50px 0px  #3C3C3B12;
    background-image: url(/assets/image_3.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: right;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 20px 50px 0px  #3C3C3B12;
    background-image: url(/assets/image_4.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: right;
}

.d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 20px 50px 0px  #3C3C3B12;
    background-image: url(/assets/image_5.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left;
}

.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.popular-text {
    font-size: 28px;
    font-weight: 500;
}

.popular-look {
    font-size: 18px;
    font-weight: 600;
    color: #F0BA4E;
} 
  
.carusel {
    display: flex;
    justify-content: space-around;
    padding-bottom: 56px;
    gap: 30px;
}

.discount {
    position: absolute;
    // top: 10px;
    // left: 10px;
    background-color: #ff4d4f;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.image-heart {
    position: absolute;
    // top: 10px;
    right: 22px; 
}

.product-info {
    padding-top: 180px;
}

.product-title {
    font-size: 20px;
    margin: 10px 0 5px;
}

.product-article {
    font-size: 17px;
    margin: 0;
    padding-bottom: 10px;
}

.product-price {
    // margin: 10px 0;
    font-size: 15px;
  }

.price {
    padding-bottom: 8px;
    color: #A1A0A0;
    font-size: 17px;
}

.old-price {
    text-decoration: line-through;
    // color: #999;
    margin-right: 8px;
    font-size: 17px;
  }
  
  .new-price {
    font-weight: bold;
    // color: #333
    font-size: 20px;
  }

.quantity {
    font-size: 17px;
    margin-block-start: 20px;
}

.product-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.quantity-btn {
    border: none;
    background-color: white;
}

.cart-button {
   border-radius: 54px; 
   padding: 14px 28px;
   background-color: white;
   transform: translateY(-15px);
   border: 1px solid #F0BA4E;
}

.product-card {
    width: 309px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    padding: 22px;
    text-align: left;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(/assets/image_13.png);
    // font-family: Inter, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    // background-position-y: top;
    // background-position-x: center;
    background-position: 20px 20px;
  }

  .badge {
    position: absolute;
    // top: 10px;
    // left: 10px;
    background-color: #08C785;
    color: #fff;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
  }

.third {
  margin-top: 52px;
}

.more {
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
  }

  .more-text {
    margin: 28px;
  }

  .big-text {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 18px;
  }

  .for-business {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: #A1A0A0;
    padding-bottom: 98px;

  }

  .catalog {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #F0BA4E;
  }

  .text-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-new__left {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    margin: 28px;
  }

  .text-new__right {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin: 28px;
    color: #F0BA4E;
  }

  .carusel-new {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 50px;
  }

  .new-card {
    width: 309px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    padding: 22px;
    text-align: left;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(/assets/image_13.png);
    // font-family: Inter, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    // background-position-y: top;
    // background-position-x: center;
    background-position: 20px 20px;
  }


footer {
    width: 100%;
    background-color: #4b565e;
   
  
    .footer_cont {
      height: 373px;
      background-color: #4b565e;
      // margin: 0 auto;
      padding: 35px 0;
      display: flex;
      justify-content: space-between;
      width: 1320px;
      margin: auto;
     
  
  
      .footer_left {
        img {
          margin-bottom: 32px;
        }
  
        .contacts_footer {
          display: flex;
          justify-content: space-between;
  
          .footer_phone {
            span {
              color: #ffffff99;
              font-size: 12px;
              margin-left: 15px;
            }
  
            p {
              color: white;
              margin-left: 46px;
            }
          }
  
          .footer_mail {
            margin-left: 30px;
  
            span {
              color: #ffffff99;
              font-size: 12px;
              margin-left: 15px;
            }
  
            p {
              color: white;
              margin-left: 46px;
            }
          }
        }
  
        .last_text {
          display: flex;
          justify-content: space-between;
          margin-top: 85px;
          width: 250px;
  
          span {
            color: white;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
          }
        }
  
        .footer_icons {
          display: flex;
          margin-top: 30px;
  
          img {
            margin-right: 20px;
            height: 25px;
            cursor: pointer;
          }
        }
      }
  
      .footer_right {
        width: 534px;
  
        h3 {
          color: white;
        }
  
        span {
          color: #ffffff99;
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
        }
  
        input {
          width: 472px;
          height: 42px;
          margin-top: 32px;
          border: 1px solid #f0ba4e;
          border-radius: 25px;
          background-color: #4b565e;
          padding-left: 50px;
          color: white;
        }
  
        img {
          position: relative;
          top: -35px;
          left: 20px;
        }
  
        button {
          padding: 12px 20px;
          position: relative;
          top: -43px;
          left: 404px;
          border-radius: 30px;
          color: white;
          background-color: #f0ba4e;
          border: none;
          cursor: pointer;
          font-size: 10px;
        }
  
        p {
          color: #ffffff99;
          font-size: 14px;
          margin-top: 110px;
          text-align: end;
        }
      }
    }
  }