.inscription {
    margin: auto;
    max-width: 1300px;
    padding-bottom: 30px; 
    padding-top: 10px;   
}

.form {
    display: flex;
    flex-direction: column;
}

.user {
    width: 207px;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid #F0BA4E;
    background-color: white;
    padding: 6px;
}

.form-input {
  width: 200px;
  border-radius: 50px;
  border: 1px solid #F0BA4E;
  padding: 3px; 
}

.alert {
    color: red;
}