<mat-dialog-content>
    <form class="form"  [formGroup]="form">
        <h2>Редактироварие задачи</h2>
        <mat-form-field>
            <mat-label>ТЕКСТ ЗАДАЧИ:</mat-label>
            <input matInput formControlName="title">
            <mat-error>Некорректное значение</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>АВТОР ЗАДАЧИ:</mat-label>
            <input matInput formControlName="userId">
            <mat-error>Некорректное значение</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>ЗАДАЧА ЗАВЕРШЕНА:</mat-label>
            <input matInput formControlName="completed">
            <mat-error>Ответ некорректен</mat-error>
        </mat-form-field>
        <button matIconSuffix mat-raised-button  [disabled]="form.invalid" [mat-dialog-close]="userWithUpdatedFields">Редактировать
            <mat-icon>edit</mat-icon>
        </button>
    </form>
</mat-dialog-content>
   